<a
  style="cursor: pointer;"
  [routerLink]="[index]"
  routerLinkActive="active"
  class="list-group-item clearfix">
  <div class="row">
    <div class="col-xs-10">  
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
      </div>
    </div>
    <div class="col-xs-2">
      <span class="pull-right">
        <img
          src="https://www.freeiconspng.com/uploads/restaurant-chef-icon-16.png"
          alt="{{ recipe.name }}"
          class="img-responsive"
          style="max-height: 50px;">
      </span>
    </div>
  </div>
</a>
